
<!-- ==== GOOGLE FONTS ====  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!-- ==== FONTAWESOME ====  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<!-- ==== EXPLORE/PREDICT ====  -->
<!-- <div id="explore-predict" class="container overlap"> -->
    <div>
    <div class="split left" (click)="prediction()">
        <h1>Predict Disasters?</h1>
         <!-- <a routerLink="prediction-landing">Try now</a> -->
    </div>
    <div class="split right" (click)="analysis()">
        <h1>Discover Analysis</h1>
        <!-- <a routerLink="analysis-landing">Try now</a> -->
    </div>
</div>


